body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 100%;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}



/* header */
/* barra logo */
header #logo-bar .row {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    /* debug */
    background: #000;
    padding: 2px 0;
}

#logo-bar .row img {
    /* debug */
    min-width: 50px;
}

/* barra menu */
header #top-bar .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* debug */
    background: #a7a7a7;
}

#top-bar .row img {
    /* debug */
    min-width: 40px;
}


/* jumbotron */
#jumbotron .row {
    /* debug */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background: lime;
    height: 500px;
}

/* slide */
#slide .row.row-cols-2 {
    text-align: center;
    /* debug */
    background: red;
    padding: 50px;
}



/* main */
/* product */
main #product .row {
    text-align: center;
}

#product .row:first-child span {
    padding-bottom: 30px;
}




/* prodotti in uscita */
#new-releases .row:first-child {
    display: flex;
    justify-content: space-evenly;
    /* debug */
    background: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

#new-releases .row img:first-child {
    width: 60%;
}

/* lista prodotti */
#new-releases .row.row-cols-2 a img {
    min-width: 100%;
}