body {
    font-family: Arial, Helvetica, sans-serif;
}

/* impostazioni generali */
.container {
    max-width: 100%;
}

.row .container {
    max-width: 1600px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 40px;
}


/* header */
/* barra logo */
#wrap .row nav:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#wrap .row nav:nth-child(1) a img {
    width: 80px;  
}

#wrap .row nav:nth-child(2), #wrap .row nav:nth-child(3) {
    height: 75px;
}

#wrap .row nav:nth-child(3) a img {
    width: 60px;
}

#wrap .row nav:nth-child(2) a > i, #wrap .row nav:nth-child(3) a > i {
    font-size: .7em;
    color: #BEBCBB;
    margin-left: 5px;
    vertical-align: middle;
}

/* main */
/* jumbotron */
#jumbotron .row {
    padding: 35px;
    text-align: left;
    color: white;
    background: url(../img/jumbo-bg.png) bottom;
    background-size: cover; 
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    min-height: 88vh;  
}

#jumbotron .row img {
    width: 250px;
}

@media screen and (max-width: 991px) {
    #jumbotron .row img {
        width: 450px;
    }
}

#jumbotron .row big {
    font-size: 3em;
}

#jumbotron .row a {
    border: 0;
    border-radius: 50px;
    background: #CD3D0F;
    color: white;
}

/* slide */
#slide .row {
    padding: 40px;
    margin-top: 10px;
    text-align: center;
}

#slide .row a img {
    width: 250px;
    margin-bottom: 25px;
    border-radius: 19px;
}

#slide .row a:hover img {
    outline: .2em solid #0072ce;
    outline-offset: .2em;
}

/* prodotti PlayStation */
main #product .row {
    padding: 35px;
    text-align: center;
    margin-bottom: 10px;
}

#product .row h6 {
    font-size: 1.1em;
    font-weight: 600;
    color: #0072ce;
}

#product .row big {
    font-size: 3em;
}

#product .row p {
    text-align: center;
    color: #a7a7a7;
}

#product .row:nth-child(2), #product .row:nth-child(2) span {
    text-align: left;
}

#product .row:nth-child(2) a {
    padding: 13px 15px;
    background: #0072ce;
    border: 0;
    border-radius: 50px;
    font-size: 15px;
    color: white;
}

#product .row:nth-child(3) {
    display: flex;
    justify-content: space-around;
}

#product .row:nth-child(3) a {
    filter: opacity(50%)
}

#product .row:nth-child(3) a:hover {
    border-bottom: 2px solid #0072ce;
    filter: opacity(100%);
}

/* prodotti in uscita */
#new-releases .row:first-child {
    padding: 35px;
    display: flex;
    justify-content: space-between;
    color: white;
    background: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    min-height: 90vh;
}

#new-releases .row:first-child img {
    margin: 40px 0;
    width: 60%;
}

#new-releases .row:first-child big {
    font-size: 3em;
}

#new-releases .row:first-child p {
    padding: 30px 0;
    text-align: left;
}

#new-releases .row:first-child a {
    padding: 13px 15px;
    border: 0;
    background: #cd3d0f;
    border-radius: 50px;
    color: white;
}

/* lista prodotti */
#new-releases .row {
    padding: 35px;
    padding-top: 20px;
    background: #1f1f1f;
    color: white;
}

#new-releases .row h4 {
    margin-bottom: 20px;
    font-size: 25px;
}

#new-releases .row a img {
    min-width: 100%;
    border-radius: 24px;
}

#new-releases .row a p {
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
}


/* prodotti PlayStation in dettaglio */
#explore .row {
    padding: 35px;
}

#explore .row h1 {
    padding-top: 50px;
    text-align: center;
    font-weight: 500;
}

#explore .row img {
    margin-top: 40px;
}

#explore .row p {
    margin: 20px 0;
    color: #a7a7a7;
    text-align: center;
}

#explore .row h3 {
    font-size: 35px;   
}

#explore .row a {
    margin-top: 20px;
    padding: 13px 15px;
    background: #0072ce;
    border: 0;
    border-radius: 50px;
    color: white;
}

/* PlayStation Plus */
#explore .row:nth-child(2) {
    padding: 35px;
    background: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
    background-position: top right 60px;
    background-color: #BEBCBB;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 56vh;
}

@media screen and (max-width: 928px) {
    #explore .row:nth-child(2) {
        background: none;
        background-color: #BEBCBB;
    }
}

@media screen and (max-width: 576px) {
    #explore .row:nth-child(2) {
        background: none;
        background-color: #BEBCBB;
    }
}

#explore .row:nth-child(2) img {
    width: 420px;
    margin: 0;
    margin-bottom: 20px;
}

#explore .row:nth-child(2) p {
    color: #000;
    margin: 20px 0;
    text-align: left;
}

#explore .row:nth-child(2) a {
    border: 0;
    background: #D9DADC;
    color: #0072ce;
}

/* prodotti in sconto */
#sales .row {
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: center;
}

#sales .row h1 {
    margin: 30px;
    font-size: 3em;
}

#sales .row p {
    margin-top: 40px;
    color: #a7a7a7;
}

/* thumbnail sconti */
#sales .row img {
    margin: 20px 0;
}

#sales .row:nth-child(3) {
    text-align: left;
}


/* PlayStation Now */
#sales .row:nth-child(3) {
    padding: 35px;
    background: url(../img/ps-now-april-featured-image-block.png);
    background-position: top right 60px;
    background-color: #151C3B;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 62vh;
}

@media screen and (max-width: 928px) {
    #sales .row:nth-child(3) {
        background: none;
        background-color: #151C3B;
    }
}

@media screen and (max-width: 576px) {
    #sales .row:nth-child(3) {
        background: none;
        background-color: #151C3B;
    }
}

#sales .row:nth-child(3) img {
    width: 420px;
}

#sales .row:nth-child(3) p {
    margin: 20px 0;
    color: white;
    text-align: left;
}

#sales .row:nth-child(3) a {
    margin-top: 20px;
    background: white;
    border: 0;
    border-radius: 50px;
    color: #000;
}

/* social media */
#social .row {
    padding: 35px;
    min-height: 45vh;
}

/* footer */
footer #nav-footer {   
    margin-top: 50px;    
}

#nav-footer .row {
    padding: 35px;
    padding-top: 100px;
    background: #00439C;
    color: white;
}

#nav-footer .row:nth-child(1) img {
    margin-bottom: 10px;
    width: 120px;
}

/* opzioni */
#nav-footer .row:nth-child(1) a img {
    width: 25px;
}

/* link */
#nav-footer .row:nth-child(1) ul li a {
    margin: 0;
    color: white;
    line-height: 30px;
}

/* disclaimer */
#nav-footer .row:nth-child(2) img {
    width: 160px;
    margin: 10px 0;
}

#nav-footer .row:nth-child(2) p {
    padding-bottom: 60px;
    text-align: left;
}